.view__group
  = link_to 'Edit', edit_chat_group_path(@chat_group), class: "view__group--edit"
  .view__group__info
    .view__group__info__name
      = @chat_group.name
    .view__group__info__member
      Member:
      - @users.each do |user|
        = user.name

.view__messages
  = render @messages
.view__message--new
  = form_for(@message, url: chat_group_messages_path, html: { id: "new__message" }) do |f|
    = f.text_field :body, placeholder: "type a message", class: "view__message--new__input"
    %i.fa.fa-picture-o{ aria: { hidden: true } }
    = f.submit :Send, class: "view__message--new__button"
