.chat-group-form
  %h1 チャットグループ編集
  = form_for(@chat_group) do |f|
    = render partial: "template", locals: { f: f, user: @users }
      #added_users.chat-group-form__field--right
        = f.hidden_field :user_ids, name: "chat_group[user_ids][]"
        .chat-group-user
          .chat-group-user__name
            = current_user.name
        - if @listed_users.present?
          - @listed_users.each do |user|
            .chat-group-user
              .chat-group-user__name
                = user.name
              .chat-group-user__btn
                %p#btn.chat-group-user__btn--remove 削除
              = f.hidden_field :user_ids, id: "hidden_id", name: "chat_group[user_ids][]", value: user.id
