.chat-group-form
  %h1 新規チャットグループ
  = form_for(@chat_group) do |f|
    = render partial: "template", locals: { f: f, user: @users }
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        .chat-group-form__label チャットメンバー
      #added_users.chat-group-form__field--right
        .chat-group-user
          .chat-group-user__name
            = f.hidden_field :user_ids, name: "chat_group[user_ids][]", value: current_user.id
            = current_user.name
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "Save", class: "chat-group-form__action-btn"
