.menu__user
  .menu__user__name
    = current_user.name
  .menu__user__action
    .menu__user__action--new
      = link_to new_chat_group_path do
        %i.fa.fa-pencil-square-o{ aria: { hidden: true } }
    .menu__user__action--edit
      = link_to edit_user_registration_path do
        %i.fa.fa-cog{ aria: { hidden: true } }
.menu__group
  - if @chat_groups.present?
    - @chat_groups.each do |chat_group|
      = link_to chat_group_messages_path(chat_group), class: "menu__group__info" do
        .menu__group__info__name
          = chat_group.name
        .menu__group__info__message
          = chat_group.messages.last.try(:body)
